# Penúltima versión estable de las imágenes base
ALPINE_VERSION=
DEBIAN_VERSION=

# Modo desarrollo (auto-genera certificados auto-firmados)
DEV_MODE=

# Timezone
TZ=

# Volumen Dir
VOLUME_DIR=

# Dominio principal
DOMAIN_NAME=

# Usuario/Grupo de Nginx (seguridad)
NGINX_USER=
NGINX_GROUP=

# DATABASE Variables
DB_USERNAME=
DB_NAME=
