ALPINE_VERSION=

VOLUME_DIR=

DB_ROOT_PASSWORD_FILE=
DB_PASSWORD_FILE=
WORDPRESS_ADMIN_PASSWORD_FILE=
WORDPRESS_GUEST_PASSWORD_FILE=
FTP_PASSWORD_FILE=

DOMAIN_NAME=

DB_USERNAME=
DB_NAME=

WORDPRESS_SITE_TITLE=
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_EMAIL=
WORDPRESS_GUEST_USER=
WORDPRESS_GUEST_EMAIL=

FTP_USER=
